@font-face {
  font-family: "PokeFont";
  src: url(fonts/Pokemon\ Classic.ttf);
}

:root {
  --light-red: #D30A40;
  --dark-red: #90052A;
  --light-blue: #15E9F6;
  --dark-red-light: #B5010E;
  --yellow-light: #E2EE5D;
  --green-light: #A8F44E;
  --green-screen: #5FC480;
  --blue-panel: #22C4EA;
  --blue-panel-frame: #17a0be;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

*{
  margin: 0;
  padding: 0;
  font-family: "PokeFont";
  font-size: .9em;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.pokedex {
  border-radius: 40px 0 0 40px;
  display: flex;
  width: 80%;
  height: 90vh;
  background-color: var(--dark-red);
}

.left-side{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 50%;
  height: 100vh;
  align-items: flex-end;
}

.left-side__header {
  width: 95%;
  background-color: var(--light-red);
  height: 20vh;
  justify-content: flex-end;
  border-radius: 30px 0 0 0;
}

.header-lights {
  position: relative;
  top: 10px;
  left: 10px;
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: row;
}

.blue-button__white-border {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 100%;
}

.blue-button__blue-color{
  width: 80px;
  height: 80px;
  background-color: var(--light-blue);
  border-radius: 100%;
  position: relative;
  top: 10px;
  left: 10px;
}

.header__buttons {
  padding: 5px;
}

.buttons__red {
  width: 20px;
  height: 20px;
  background-color: var(--dark-red-light);
  border-radius: 100%;
}

.buttons__yellow {
  width: 20px;
  height: 20px;
  background-color: var(--yellow-light);
  border-radius: 100%;
}

.buttons__green{
  width: 20px;
  height: 20px;
  background-color: var(--green-light);
  border-radius: 100%;
}

.light__buttons {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 0;
}



.left-side__poke-screen{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--light-red);
  width: 95%;
  height: 45vh;
}

.poke-screen__display {
  width: 90%;
  height: 350px;
  background-color: #E3E3E3;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black 1px solid;
  box-shadow: -5px 5px 0 0 #7D7C7C;
}

.display__image{
  background-color: white;
  width: 88%;
  height: 80%;
  border-radius: 15px;
  border: black 1px solid;
  display: flex;
  justify-content: center;
}

.poke-image{
  width: 70%;
  height: 100%;
}

.left-side__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-red);
  width: 95%;
  height: 23vh;
  border-radius: 0px 0 0 30px;
}

.buttons__screen{
  position: relative;
  left: 19px;
  width: 70%;
  height: 80%;
  background-color: var(--green-screen);
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: -5px 5px 0 0 #46915E inset;

}

.buttons__buttons{
  width: 25%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.buttons__random{
  background-color: #2C2C2C;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow: -3px 3px 0 0 black ;
  
}

.buttons__forward-backward{
  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttons-backward{
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  border-right:20px solid #2C2C2C; 
}


.buttons-forward {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #2C2C2C;
}

.center-side {
  margin: auto;
  height: 85vh;
  width: 6%;
  background-color: var(--light-red);
  border: black 1px solid;
  display: flex;
  align-items: flex-end;
}

.center__bottom-elipse{
  position: relative;
  bottom: -18px;
  width: 100%;
  height: 30px;
  background-color: var(--dark-red);
  border-radius: 50%;
  border: black 1px solid;
}

.right-side {
  position: relative;
  top: 124px;
  background-color: var(--light-red);
  height: 72vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.right-side__choose-panel {
  background-color: var(--blue-panel);
  position: relative;
  border-radius: 15px;
  top: 31px;
  width: 90%;
  height: 62%;
  box-shadow: -5px 5px 0 0 #246198;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.choose-panel__previous{
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  border-right:20px solid #2C2C2C; 

}

.choose-panel__buttons{
  background-color: var(--blue-panel-frame);
  width: 80%;
  height: 90%;
  box-shadow: -4px 4px 0 0 #10738a inset;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 25% 25% 25% 25%;
  border: black 1px solid;

}

.choose-panel__next {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #2C2C2C;
}

.pokemon-thumbnail {
  /* display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center; */
  width: 60px;
  height: 60px;
  filter: grayscale(100%);
}
img {
  width: 50px;
  height: 50px;
}

.right-side__footer {
  width: 100%;
  height: 30vh;
}

.right-side__filter {
  padding: 0 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  background-color: #084035;
  width: 88%;
  height: 18vh;
  position: relative;
  left: 22px;
  top: 65px;
  border-radius: 10px;
  box-shadow: -5px 5px 0 0 #062923 inset;

}


